@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body {
    font-family: 'CustomFontName', sans-serif;
    margin: 0;
    background-color: #191c1b;
    /*  this is for now the  color idk if i found somting beter change this as main back ground */
}

nav {
    border-bottom: 1px #89938f solid;
    display: flex;
    justify-content: space-between;
    background-color: #191c1b;
}

.column {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    #small-size-remove,
    #small-size-apear {
        display: none;
    }
}

a,
nav>h2 {
    color: #e0e3e1;
}

.side-bar-items:hover {
    border-radius: 30px;
    background-color: #005144;
}

.side-bar {
    background-color: #191c1b;
    border-right: solid #e0e3e1 1px;
    width: 20%;
    position: absolute;
    left: 0;
    right: 0;
    overflow-y: auto;
    height: calc(100vh - 68px);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.list_php {
    height: 70px;
    width: 70px;
    border-radius: 100%;
    border: solid #e0e3e1 1px;
    margin: 1px;
}

.side-bar-items {
    display: flex;
}

.tekst-container {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.max-size {
    width: 100%;
    box-sizing: border-box;
}

.red {
    color: #ffb4ab;
}

.changelog-body {
    background-color: #191c1b;
    color: gainsboro;
}

.changelog-body>div>p {
    width: 60%;
}

#sceen-resize {
    position: absolute;
    top: 68px;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    height: calc(99.8vh - 68px);
}

.arrow-img {
    height: 50px;
}

.nav-bar-settings {
    display: flex;
    align-items: center;
}

.arrow-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.friend-list {
    background-color: #191c1b;
}

a {
    text-decoration: none;
}

.text_prompt {
    bottom: 0;
    margin: 0.8%;
    width: 78%;
    position: fixed;
}

.text_buble {
    display: flex;
    justify-content: center;
}

.chat-container {
    /* padding-bottom: 4%; */
}